absl-py @ file:///C:/b/abs_5babsu7y5x/croot/absl-py_1666362945682/work
aiohttp @ file:///C:/ci/aiohttp_1632749654317/work
aiohttp-cors @ file:///tmp/build/80754af9/aiohttp-cors_1621432682906/work
aioredis @ file:///tmp/build/80754af9/aioredis_1621433585469/work
aiorwlock @ file:///home/conda/feedstock_root/build_artifacts/aiorwlock_1649144056182/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
ansicon @ file:///D:/bld/ansicon_1666875161206/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1666191106763/work/dist
appdirs==1.4.4
async-timeout==3.0.1
attrs @ file:///C:/b/abs_09s3y775ra/croot/attrs_1668696195628/work
audioread==3.0.0
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
blessed @ file:///D:/bld/blessed_1666523305854/work
blinker==1.4
Bottleneck @ file:///C:/Windows/Temp/abs_3198ca53-903d-42fd-87b4-03e6d03a8381yfwsuve8/croots/recipe/bottleneck_1657175565403/work
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
cffi @ file:///C:/b/abs_49n3v2hyhr/croot/cffi_1670423218144/work
chardet @ file:///C:/ci/chardet_1607706937985/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///C:/ci/click_1646038595831/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
colorful @ file:///tmp/build/80754af9/colorful_1621432620569/work
commonmark==0.9.1
contourpy @ file:///D:/bld/contourpy_1673633852898/work
cryptography @ file:///C:/b/abs_b7d7drzbky/croot/cryptography_1673298763653/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cytoolz @ file:///D:/bld/cytoolz_1666829724237/work
daal4py==2021.4.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1674873905639/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
decorator==5.1.1
distlib @ file:///C:/b/abs_f97tx3ukh9/croot/distlib_1673477548877/work
dm-tree @ file:///D:/bld/dm-tree_1649681474314/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1673393893671/work
filelock @ file:///C:/b/abs_c7yrhs9uz2/croot/filelock_1672387617533/work
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools @ file:///D:/bld/fonttools_1666827219016/work
frozenlist @ file:///C:/b/abs_2bb5uzghsi/croot/frozenlist_1670004511812/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1674184942191/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1673596611778/work
google-api-core @ file:///C:/ci/google-api-core-split_1613980333946/work
google-auth @ file:///tmp/build/80754af9/google-auth_1626320605116/work
google-auth-oauthlib @ file:///tmp/build/80754af9/google-auth-oauthlib_1617120569401/work
googleapis-common-protos @ file:///C:/Windows/TEMP/abs_f3kgqo235h/croots/recipe/googleapis-common-protos-feedstock_1660256147016/work
gpustat @ file:///home/conda/feedstock_root/build_artifacts/gpustat_1665522258262/work
grpcio @ file:///C:/ci/grpcio_1637590978642/work
gym @ file:///D:/bld/gym_1674726731032/work
gym-notices @ file:///home/conda/feedstock_root/build_artifacts/gym-notices_1671541680412/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
hiredis @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_9e35ye2s85/croots/recipe/hiredis_1661472597061/work
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
imagecodecs @ file:///C:/b/abs_948ub5byiu/croots/recipe/imagecodecs_1664562381493/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1674460904928/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1672612343532/work
jinxed @ file:///D:/bld/jinxed_1666554187547/work
joblib @ file:///C:/b/abs_e60_bwl1v6/croot/joblib_1666298845728/work
jsonschema @ file:///C:/b/abs_59eyhnbyej/croots/recipe/jsonschema_1663375476535/work
kiwisolver @ file:///D:/bld/kiwisolver_1666805897768/work
librosa==0.9.2
llvmlite==0.39.1
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lz4 @ file:///D:/bld/lz4_1672341175356/work
Markdown @ file:///C:/b/abs_98lv_ucina/croot/markdown_1671541919225/work
MarkupSafe @ file:///C:/ci/markupsafe_1654508077284/work
matplotlib @ file:///D:/bld/matplotlib-suite_1674079001997/work
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
msgpack @ file:///C:/ci/msgpack-python_1652329316214/work
multidict @ file:///C:/b/abs_6cx_8w3cv2/croot/multidict_1665674238352/work
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1673151334029/work
numba==0.56.4
numexpr @ file:///C:/b/abs_a7kbak88hk/croot/numexpr_1668713882979/work
numpy @ file:///C:/b/abs_datssh7cer/croot/numpy_and_numpy_base_1672336199388/work
nvidia-ml-py @ file:///home/conda/feedstock_root/build_artifacts/nvidia-ml-py_1664522252508/work
oauthlib @ file:///C:/b/abs_2eoymqc2ow/croot/oauthlib_1665490906043/work
opencensus @ file:///tmp/build/80754af9/opencensus_1621432847090/work
opencensus-context @ file:///C:/ci/opencensus-context_1621432963216/work/context/opencensus-context
packaging @ file:///C:/b/abs_cfsup8ur87/croot/packaging_1671697442297/work
pandas @ file:///C:/b/abs_c6fuezktfm/croot/pandas_1670425103552/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1660316728562/work
Pillow==9.3.0
platformdirs @ file:///C:/b/abs_73cc5cz_1u/croots/recipe/platformdirs_1662711386458/work
pooch==1.6.0
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
protobuf==3.20.3
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
pyarrow==8.0.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///C:/b/abs_70leqwndat/croot/pydantic_1667416131535/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1672682006896/work
PyJWT @ file:///C:/ci/pyjwt_1657511236979/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyrsistent @ file:///C:/ci/pyrsistent_1636093225342/work
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///C:/b/abs_22fofvpn1x/croot/pytz_1671698059864/work
PyWavelets @ file:///D:/bld/pywavelets_1673082503566/work
PyYAML==6.0
ray==2.2.0
redis @ file:///Users/ktietz/demo/mc3/conda-bld/redis-py_1629466587884/work
requests @ file:///C:/ci/requests_1657735342357/work
requests-oauthlib==1.3.0
resampy==0.4.2
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1664752510089/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
scikit-image @ file:///D:/bld/scikit-image_1667117291013/work
scikit-learn @ file:///C:/b/abs_e01rh8f1vi/croot/scikit-learn_1675454931501/work
scikit-learn-intelex==2021.20211201.114824
scipy==1.9.3
setproctitle @ file:///D:/bld/setproctitle_1649637464022/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1672751587911/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///C:/ci/smart_open_1651235069716/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
soundfile==0.11.0
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1668726462865/work
tabulate @ file:///C:/ci/tabulate_1657619055201/work
tensorboard @ file:///C:/Users/builder/adipietro/mc3/tf210/conda-bld/tensorboard_1669760968711/work/tensorboard-2.10.0-py3-none-any.whl
tensorboard-data-server @ file:///C:/b/abs_2fhvpo862s/croot/tensorboard-data-server_1670853600144/work/tensorboard_data_server-0.6.1-py3-none-any.whl
tensorboard-plugin-wit @ file:///C:/tf/b/tensorboard-plugin-wit_1660162132996/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorboardX @ file:///tmp/build/80754af9/tensorboardx_1621440489103/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1617956128193/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm @ file:///C:/b/abs_0axbz66qik/croots/recipe/tqdm_1664392691071/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1667832226065/work
typing_extensions @ file:///C:/b/abs_89eui86zuq/croot/typing_extensions_1669923792806/work
unicodedata2 @ file:///D:/bld/unicodedata2_1667240049903/work
urllib3 @ file:///C:/b/abs_9bcwxczrvm/croot/urllib3_1673575521331/work
uvicorn @ file:///D:/bld/uvicorn-split_1669234844876/work
virtualenv @ file:///C:/b/abs_ecny53lqbd/croot/virtualenv_1674752111046/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
Werkzeug @ file:///C:/b/abs_17q5kgb8bo/croot/werkzeug_1671216014857/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wincertstore==0.2
yarl @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_e5nlunspj6/croots/recipe/yarl_1661437086516/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1675635285714/work
